name: ghostfolio
services:
  ghostfolio:
    image: docker.io/ghostfolio/ghostfolio:latest
    container_name: ghostfolio
    init: true
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    env_file:
      - ./.env
    environment:
      - HOST_OS=Unraid
      - HOST_CONTAINERNAME=ghostfolio
      - REDIS_HOST=redis
      - REDIS_PASSWORD=${REDIS_PASSWORD:?err}
      - 'DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?connect_timeout=300&sslmode=prefer'
    labels:
      - net.unraid.docker.managed=dockerman
      - 'net.unraid.docker.webui=http://[IP]:[PORT:3333]'
      - 'net.unraid.docker.icon=https://avatars.githubusercontent.com/u/82473144?s=200'
    ports:
      - 3333:3333
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ['CMD-SHELL', 'curl -f http://localhost:3333/api/v1/health']
      interval: 10s
      timeout: 5s
      retries: 5

  postgres:
    image: docker.io/library/postgres:{{ postgres_version }}-alpine
    container_name: postgresql{{ postgres_version }}-ghostfolio
    hostname: postgres
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - DAC_READ_SEARCH
      - FOWNER
      - SETGID
      - SETUID
    security_opt:
      - no-new-privileges:true
    env_file:
      - ./.env
    environment:
      - TZ=Europe/Berlin
      - HOST_OS=Unraid
      - HOST_CONTAINERNAME=postgresql{{ postgres_version }}-ghostfolio
    labels:
      - net.unraid.docker.managed=dockerman
      - 'net.unraid.docker.icon=https://github.com/juusujanar/unraid-templates/raw/master/img/PostgreSQL-logo.png'
    ports:
      - '{{ postgres_port }}:5432/tcp'
    volumes:
      - "ghostfolio-postgres{{ postgres_version }}-db:/var/lib/postgresql/data"
    restart: unless-stopped
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}']
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: docker.io/library/redis:alpine
    container_name: redis-ghostfolio
    hostname: redis
    user: '999:1000'
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=Europe/Berlin
      - HOST_OS=Unraid
      - HOST_CONTAINERNAME=redis-ghostfolio
    labels:
      - net.unraid.docker.managed=dockerman
      - 'net.unraid.docker.icon=https://raw.githubusercontent.com/juusujanar/unraid-templates/master/img/Redis-logo.png'
    env_file:
      - ./.env
    command: ['redis-server', '--requirepass', $REDIS_PASSWORD]
    restart: unless-stopped
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli --pass "$REDIS_PASSWORD" ping | grep PONG']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
    ghostfolio-postgres{{ postgres_version }}-db: